.login.wrapper {
    background-image: url("../../images/pexels-engin-akyurt.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    right: 0;
    left: 0;
}

.login.frame {
    width: 30rem;
    height: auto;
    margin: auto;
    position: relative;
    border-radius: 10px;
    background-color: white;
    padding: 2.5rem 3rem;
}







